body{
    background-color: wheat;
}
h2 {
    text-align: center;
}
p{
    text-align: center;
}
.my-name {
    font-family: Verdana, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center;
    margin: 12px;
    color: brown;
    padding: 40px;
    font-size: 342%;
    box-sizing: border-box;
}
.link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: slategrey;
    padding: 400px;
    margin: 25px;
    font-size: 100%;
}
.imagesize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 490px;
}
.spacing {
    padding: 30px;
}
.containercolor {
    background-color: thistle;
}
img {
    border: 10px solid #A0A0A0
}
.jumbotron {
    border: 5px solid #A0A0A0
}